env:            # SERVER ENVIRONMENT
  device:       # cpu, cuda:x, or None (automatically choose by model)
  model_home:   # /path/to/model_home, e.g. /home/user/.cache/models
embedding:      # EMBEDDING MODEL CONFIGURATIONS
  dense_model:  # bge (default) or qwen3
  sparse_model: # bge (default) or splade
  bge_name:     # name (path name) of the local bge-m3 model
  qwen3_name:   # name (path name) of the local qwen3 embedding model
  splade_name:  # name (path name) of the local splade-v3 model
  batch_size:   # >=4 (default 16)
reranker:       # RERANKER MODEL CONFIGURATIONS
  model:        # bge (default) or qwen3 or glm
  bge_name:     # name (path name) of the local bge-reranker-v2-m3 model
  qwen3_name:   # name (directory name) of the local qwen3 reranker model
  batch_size:   # >=4 (default 4)
service:        # MICRO-SERVICE CONFIGURATIONS
  host:         # 0.0.0.0 (default), ip-addr for allowed hosts 
  port:         # 8765 (default), port of service

